:root {
  background: #659DBD;
}

.filter {
  background: #66FCF1;
  color: #116466;
}

.App {
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 3px;
  -webkit-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
  -moz-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
  box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
  display: flex;
  flex-direction: column;
  font-size: 2em;
  flex-wrap: wrap;
  margin: 0.5rem;
  max-width: 400px;
  padding: 1rem 1rem;
  width: 20vw;
  float: right;
  justify-content: space-between;
  max-height: 70vh;
  min-height: 70vh;
  transition: all 0.2s ease-in-out;
}

.App:hover {
  transform: scale(1.1);
}


img {
  width: 200px;
  vertical-align: middle;
  display: block;
}

img,
figcaption {
  vertical-align: bottom;
  padding: 0;
}

figcaption,
a {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 250px;
  padding: 0;
  list-style: none;
  line-height: 0px;
}

figcaption {
  padding: 0;
  font-size: medium;
}

.CardImg {
  max-height: 40vh;
}

label {
  color: #f9f9f9;
}

.Submit {
  background: #5CDB95;
}

.Learn {
background-color:#e94015;
font-weight: bold;
}

button {
  border: none;
}

button:focus,
button:hover {
  cursor: pointer;
  outline: none;
}
